.create-button {
  background-color: #078d14; /* Button background color */
  padding: 10px;
  margin-right: 40px;
  color: #fff; 
  border: none; 
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 10%;
  align-items: center;
}

/* Style for the buttons on hover */
.create-button:hover {
  background-color: #044627;
}