.submitTeam-container {
  display: flex; 
  justify-content: center;
  padding: 10px 0px;
  margin: 10px 0px;
}

/* Style for the label */
.submitTeam-container label {
  font-size: 20px;
  font-weight: bold; 
  text-align: center;
  padding-right: 10px;
  padding-top: 2px;
  text-shadow: none;
}

/* Style for the input field */
.submitTeam-container input[type="text"] {
  box-sizing: border-box;
  width: 25%; 
  border: 2px solid ;
  border-radius: 15px; 
  border-color: #007bff; 
  text-align: center;
  font-size: 15px;
}

/* Style for the buttons */
.submitTeam-container button {
  background-color: #007bff; /* Button background color */
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  border: none; 
  cursor: pointer; 
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 10%;
}

/* Style for the buttons on hover */
.submitTeam-container button:hover {
  background-color: #04376d; /* Darker background color on hover */
}


